body{
    background-color: bisque;
    margin: 0;
    padding: 0;
}

nav{
    height: 60px;
    background-color: aquamarine;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.aboutMe{
    height: 600px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.projects{
display: flex;
}

.project{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hover-react .react {
    width: 70%;
    font-size: 1.2rem;
}

.hover-react .javascript {
    width: 30%;
}

.hover-javascript .javascript {
    width: 70%;
    font-size: 1.2rem;
}

.hover-javascript .react {
    width: 30%;
}


.react{
    background-color: aqua;
}

.javascript{
    background-color: beige;
}


.contactForm{
background-color: rgb(24, 91, 91);
height: 600px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.contactForm >*{
    padding: 2rem;
}

.input{
    width: 300px;
    height: 2rem;
    margin: 0.5rem;
}

.input.msg{
    width: 302px;
    height: 4rem;
}

.input.button{
    width: 310px;
}

footer{
    height: 60px;
    background-color: rgb(47, 116, 93);
    width: 100%;
}
 
.img img{
    height: 300px;
}

.aboutMe{
    display: flex;
}

.highlight{
    color: red;
    font-size: 2rem;
}

.project img{
    width: 200px;
}



