:root {
  --main-color: #d90429;
  --secondary-color: #f5cac3;
  --third-color: #fdfffc;
  --fourth-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--third-color);
    color: var(--fourth-color);
    transition: all 400ms ease-in-out;
    font-weight: bold;
}

nav{
    height: 6rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    z-index: 2;
}

nav button{
  border: none;
  height: 2rem;
}

.aboutMe{
    min-height: 50rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.info>*{
    display: flex;
    justify-content: center;
}


.projects{
display: flex;
}

.project{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.contactForm{
height: 40rem;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.contactForm >*{
    padding: 2rem;
}

.input{
    width: 20rem;
    height: 2rem;
    margin: 0.5rem;
}

.input.msg{
    width: 20rem;
    height: 4rem;
}

.input.button{
    width: 20rem;
}

footer{
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icons{
    display: flex;
    gap: 1rem;
}

.fa-brands{
    font-size: 2rem;
}

.img img{
    height: 20rem;
}

.aboutMe{
    display: flex;
}

.highlight{
    color: var(--main-color);
    font-size: 2rem;
}

.highlight h1{
    text-align: center;
}

.project img{
    width: 200px;
}

a{
    text-decoration: none;
    color: inherit;
 }

button{
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    cursor: pointer;
}

button{
    padding: 1rem 1rem;
    border-radius: 0px 40px 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project button{
    margin-top: 0.5rem;
    padding: 0rem 1rem; 
}

.border{
    width: 60%;
    height: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--main-color);
}
.border:nth-of-type(1){
    transform: translateY(5.5rem);
    z-index: 1;
}
.special-border{
    transform: translateY(60px);
}


li {
  white-space: nowrap; 
}


@media (hover: hover) {
button:hover{
    border-radius: 40px 0px 40px 0px;
    scale: 110%;
}
}


@media (max-width: 768px) {
.aboutMe{
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.projects{
    flex-direction: column;
    align-items: center;
}
.aboutMe{
    flex-direction: column-reverse;
}
.info>*{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
nav{
    gap: 5px;
}
nav h1{
    font-size: 1rem;
}
.input{
    width: 16rem;
}

.input.msg{
    width: 16rem;
}

.input.button{
    width: 16rem;
}
}


button{
    border-color: var(--secondary-color);
    transition: all 600ms ease-in-out;
}


.toggleIcon{
    font-size: 2rem;
    color: var(--fourth-color);
    cursor: pointer;
}

#sun{
    display: none;
}

#projects{
height: 3rem;
}