:root {
  --main-color: #d90429;
  --secondary-color: pink;
  --third-color: #fdfffc;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    background-color: var(--third-color);
}

nav{
    height: 60px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
}

nav button{
  border: none;
  height: 2rem;
}

.aboutMe{
    min-height: 600px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info>*{
    display: flex;
    justify-content: center;
}


.projects{
display: flex;
}

.project{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}






.contactForm{
height: 600px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.contactForm >*{
    padding: 2rem;
}

.input{
    width: 300px;
    height: 2rem;
    margin: 0.5rem;
}

.input.msg{
    width: 302px;
    height: 4rem;
}

.input.button{
    width: 310px;
}

footer{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icons{
    display: flex;
    gap: 1rem;
}

.fa-brands{
    font-size: 2rem;
}

.img img{
    height: 300px;
}

.aboutMe{
    display: flex;
}

.highlight{
    color: var(--main-color);
    font-size: 2rem;
}

.project img{
    width: 200px;
}

 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

@media (max-width: 768px) {
.aboutMe{
    flex-direction: column;
    align-items: center;
}
.projects{
    flex-direction: column;
    align-items: center;
}
.aboutMe{
    flex-direction: column-reverse;
}
.info>*{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}
}


@media (min-width: 768px) {
.hover-react .react {
    width: 75%;
    font-size: 1.3rem;
    transition: all 400ms ease-in-out;
}

.hover-react .javascript {
    width: 25%;
    transition: all 400ms ease-in-out;
}

.hover-javascript .javascript {
    width: 75%;
    font-size: 1.3rem;
    transition: all 400ms ease-in-out;
}

.hover-javascript .react {
    width: 25%;
    transition: all 400ms ease-in-out;
}
}



/* .aboutMe{
    height: 600px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.projects{
display: flex;
} */